<div class="header">
  <div class="navbar navbar-inverse navbar-fixed-top pull-left col-lg-12" role="navigation">
    <div class="container pull-left">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>



        <div class="has-drawer">
          <a href="/#!/"  class="navbar-brand">Galgas Web Editor</a>
          <a href="#drawerExample2" target="_self" data-toggle="drawer" href="#drawerExample2" aria-foldedopen="false" aria-controls="drawerExample2" class="navbar-brand" ng-show="hasDrawer"><i class="fa fa-bars"></i></a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="{{links.menu.new}}"><i class="fa fa-plus"></i> New</a></li>
          <li class=""><a href="/#!/globalconfig"><i class="fa fa-cog"></i> Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
