<div class="container" ng-init="init()">
  <h1>New Galgas Project</h1>

  <form  action="">
    <fieldset class="form-group">
      <h3>Informations</h3>
      <label>Name :</label>
      <div>
        <input type="text" class="form-control" placeholder="Project name" ng-model="project.name" ng-change="evalName()">
        <span id="project_error_name" class="alert-danger" ng-show="project_error_name_text.length>0">{{project_error_name_text}}</span>
      </div>

      <label>Description :</label>
      <div>
        <textarea class="form-control" ng-model="project.description" ng-change="evalDescription()"></textarea>
        <span id="project_error_description" class="alert-danger" ng-show="project_error_description_text.length>0">{{project_error_description_text}}</span>
      </div>

      <br>
      <label>Version :</label>
      <div class="row" >
        <div class="col-xs-2" >
          <input type="number" class="form-control " ng-model="project.version.M" ng-change="evalVersion()">
        </div>
        <div class="col-xs-2" >
          <input type="number" class="form-control " ng-model="project.version.m" ng-change="evalVersion()">
        </div>
        <div class="col-xs-2" >
          <input type="number" class="form-control " ng-model="project.version.r" ng-change="evalVersion()">
        </div>
        <span id="project_error_version" class="alert-danger" ng-show="project_error_version_text.length>0">{{project_error_version_text}}</span>
      </div>

    </fieldset>

    <fieldset class="form-group">
      <h3>Targets</h3>
      <div>
        <label>Add a target : </label><br>
        <select class="form-control inline" style="width: 80%; display: inline; margin-right: 10px"
                ng-model="selectedTarget"
                ng-init="selectedTarget"
                ng-options="target for target in targets"
        >
        </select>
        <button class="btn btn-primary inline" ng-click="addTarget()"><i class="fa fa-plus"></i></button>
      </div>
      <div>
        <span id="project_error_targets" class="alert-danger" ng-show="project_error_targets_text.length>0">{{project_error_targets_text}}</span>
      </div>
      <br>
      <div class="" ng-show="project.getTargets().length>0">
        <label>Selected targets : </label>
        <ul class="" ng-repeat="target in project.getTargets()">
          <li>{{target}} <i class="fa fa-close pull-right" ng-click="deleteTarget(target)" ></i></li>
        </ul>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <h3>Properties</h3>
      <div>
        <label>Add a property : </label><br>
        <div class="row" >
          <div class="col-xs-3" >
            <input class="form-control" placeholder="name" ng-model="typedProperty.name">
          </div>
          <div class="col-xs-3" >
            <input class="form-control" placeholder="value" ng-model="typedProperty.value">
          </div>
        <button class="btn btn-primary inline" ng-click="addProperty()"><i class="fa fa-plus"></i></button>
      </div>
      </div>
      <br>
      <div class="" ng-show="!isEmpty(project.getProperties())">
        <label>Added properties : </label>
        <ul class="" ng-repeat="(key,value) in project.getProperties()">
          <li>{{key}} : {{value}} <i class="fa fa-close pull-right" ng-click="deleteProperty(key)" ></i> </li>
        </ul>
      </div>
    </fieldset>

    <input class="btn btn-primary " type="button" value="Submit" ng-click="submit()" />
    <a class="btn btn-danger " href="{{homeRoute}}" ng-confirm-click="" ng-confirm-click-message="By leaving this page, you accept to lose your data. Do you confirm ? ">Cancel</a>
    <div>
      <span id="project_error_submit" class="alert-danger" ng-show="project_error_submit_text.length>0">{{project_error_submit_text}}</span>
    </div>

  </form>

</div>
