<!-- EDITOR VIEW-->
<div ng-show="component.useEditor">
  <div class="">
    <div id="editor"
         ui-ace="{
                useWrapMode : true,
                showGutter: true,
                theme:'monokai',
                mode: 'markdown',
                onLoad: onWriterLoaded
              }"
         ng-change="eval()"
         ng-model-options='{ debounce: 1000 }'
         ng-model="component.sourceCode" >
    </div>
    <div class="form-control">
      <span style="font-family: 'Ubuntu Mono', Monaco, Consolas, monospace">Galgas Web Console</span>

      <span class="btn btn-warning btn-xs pull-right">Console/Output</span>
    </div>
    <div id="console"
         ui-ace="{
                useWrapMode : true,
                showGutter: true,
                theme:'monokai',
                mode: 'markdown',
                onLoad: onConsoleLoaded
              }"
         ng-model="compilateurResponse" >
    </div>
  </div>
</div>
<!-- EDITOR VIEW END-->

<!-- FORM VIEW-->
<div ng-show="! component.useEditor">
  //Form LEXICON
</div>
<!-- FORM VIEW END-->
