<div class="has-drawer" style="">
  <div id="drawerExample2" class="drawer drawer-inside drawer-inverse dw-xs-5 fold  " aria-labelledby="drawerExample2">

    <div class="drawer-contents">
      <div class="drawer-heading">
        <h2 class="drawer-title">Galgas Web Editor
          <a target="_self" data-toggle="drawer" href="#drawerExample2" aria-foldedopen="false" aria-controls="drawerExample2" ><i class="fa fa-close pull-right"></i></a>

        </h2>
      </div>
      <ul class="drawer-nav">
        <li role="presentation" class="active">
          <a href="#" class="fa-2x"><i class="fa fa-language "></i> Mes lexiques</a>
          <ul>
            <li>ok</li>
            <li>ok</li>
          </ul>
        </li>
        <li role="presentation">
          <a href="#" class="fa-2x"><i class="fa fa-chain-broken "></i> Mes syntaxes</a>
          <ul>
            <li>ok</li>
            <li>ok</li>
          </ul>
        </li>
        <li role="presentation">
          <a href="#" class="fa-2x"><i class="fa fa-commenting "></i> Mes grammaires</a>
          <ul>
            <li>ok</li>
            <li>ok</li>
          </ul>
        </li>
        <li role="presentation">
          <a href="#" class="fa-2x"><i class="fa fa-tasks "></i> Mes programmes</a>
          <ul>
            <li>ok</li>
            <li>ok</li>
          </ul>
        </li>
      </ul>
      <div class="drawer-body">
        <p>
          Galgas web is a personal initiative to help Galgas users to develop.
        </p>
        <a href="{{links.utils.github}}" target="_blank" class="btn btn-primary btn-xs"> <i class="fa fa-github-alt"></i> Find us on github</a>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-left: 10%; left:0; height: 100%">
  </div>
</div>
